<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ content.meta_title or "MentorInk | AI Mentoring Platform" }}</title>
    {{ require_js }}
    <link rel="stylesheet" href="{{ get_asset_url('style.css') }}" />
  </head>
  <body>
    {% include "partials/header.html" %}

    <main>
      {% module "modules/full-landing-module/full-landing-module.html", label="Landing Page Module" %}
    </main>

    {% include "partials/footer.html" %}
    <script src="{{ get_asset_url('script.js') }}"></script>
  </body>
</html>
