<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ content.meta_title or "Page" }}</title>
    {{ require_js }}
    <link rel="stylesheet" href="{{ get_asset_url('style.css') }}" />
  </head>
  <body>
    {% include "partials/header.html" %}

    <main class="page-content">
      <article class="page-body">
        <h1>{{ content.title or "Page Title" }}</h1>
        {{ content.html|rich_text }}
      </article>
    </main>

    {% include "partials/footer.html" %}
    <script src="{{ get_asset_url('script.js') }}"></script>
  </body>
</html>
